body{
    background: #f8f5f5;
    font-size: 14px;
    font-weight: 300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    max-width: 600px;
    margin: 50px auto 0px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;

}
h1{
    text-align: center;
    font-size: 32px;
    font-style: italic;
    letter-spacing: 2px;
    color: rgb(28, 157, 231);
    margin-top: 50px;
    padding: 2px;
}
.options{
    display: flex;
    color: #568788;
    flex-direction: column;
    align-self: start;
    justify-content: left;
    margin: 10px 0px;
}
.password{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#password{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
#generate{
    margin-top: 20px;
    background-color: #4CAF50;
    color:#fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}
#generate:hover{
    background-color: #3e8e43;
}


@media screen and (max-width: 576px){
    .container{
        max-width: 350px;
        padding: 5px;
    }
    .password{
        flex-direction: column;
        gap: 20px;
    }
}